h1 {padding-top: 45px; padding-bottom: 50px; font-size: 65px; color: #A60000; font-variant: small-caps;}

body {background-image: url("home.jpg"); background-size: 100% 162%; background-repeat: no-repeat;}

a {color: white; text-decoration: none;}