* {border: 0; padding: 0; margin: 0;}

body {background-image: url("index.jpg"); background-size: 100% 1387.8%; }

#menu ul {background-color: #C85C42; width: auto; height: 48px;}
#menu ul li {display:inline-table}
#menu ul li a {text-decoration: none; font-family: Arial, Helvetica, sans-serif; color: #FFFFFF; font-size: 18px; float:right; padding: 13px 47px}
#menu ul li a:hover {background-color: #FFFFFF; color: #C85C43}